{
  "plugins": [
    "transform-remove-debugger",
  ],
  "presets": [
    "react",
  ],
  "env": {
    "cjs": {
      "presets": [
        "env",
      ],
    },
    "es": {
      "presets": [
        ["env", {
          "modules": false,
        }],
      ]
    }
  }
}
